{% extends "/bases/base.html" %}
{% block head %}
<style>
    .material-icons{
        display: inline-flex;
        vertical-align: top;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}
{% block content %}
<main class="container">
    <h2 class="center black-text">Dati esercito di {{ user.name }}</h2>
    <div class="row">
    	<div class="col s12 m10 offset-m1">
    		<div class="card white row">
    		    <div class="card-content">
        		    <span class="card-title">Cerca una unità</span>
        		    <div class="input-field col s10 offset-s1">
        		        <i class="material-icons prefix">search</i>
            			<input type="text" id="autocomplete-input" class="autocomplete">
            			<label for="autocomplete-input">Nome</label>
        		    </div>
    		    </div>
    		</div>
    	</div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div id="chart"></div>
                </div>
            </div>
        </div>
    	<div class="col s12 m8 offset-m2">
    		<div class="card white">
    			<div class="card-content">
    			    <span class="card-title" id="titolo">Tabella dati</span>
    				<table class="striped">
    					<thead>
    						<tr>
    							<th>Data</th>
    							<th>Quantità</th>
    							<th>Differenza</th>
    						</tr>
    					</thead>
    					<tbody>
    					</tbody>
    				</table>
    			</div>
    		</div>
    	</div>
    </div>
</main>
<div class="fixed-action-btn hide-on-large-only">
	<a class="btn-floating btn-large red" href="/" title="Back">
		<i class="large material-icons">arrow_left</i>
	</a>
</div>
<br>
<br>
<script src="{{url_for('static', filename='js/numeral.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/Functions.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/moment.js')}}" type="text/javascript"></script>
<script type="text/javascript">
    let army = {{ table | safe }};
    let dates = {{ dates | safe }};
    let allDates = {{ allDates | safe }};

	$(document).ready(function(){
	    let chart = init_chart(allDates, "Cerca una unità");
	    $('.fixed-action-btn').floatingActionButton({hoverEnabled: false, direction: "left"});
        $('input.autocomplete').autocomplete({
            data: {
                {% for nome in table %}"{{ nome|safe }}": null,
                {% endfor %}
            },
            onAutocomplete: function(name){
                update_chart(chart, name, army, dates, allDates);
                update_table(name, army, dates, allDates);
            }
        });
    });
</script>
{% endblock %}

{% block nav %}
<li><a class="waves-effect" href="/">Home</a></li>
<li><a class="waves-effect" href="/getData/goods">Goods</a></li>
<li><a class="waves-effect" href="/getData/inventory">Inventory</a></li>
<li><a class="waves-effect" href="/getData/eras">Eras</a></li>
<li><a class="waves-effect blue-grey darken-4" href="/getData/army">Army</a></li>
{% if user.guild != None %}<li><a class="waves-effect" href="/getData/guild">Guild</a></li>{% endif %}
<li><div class="divider"></div></li>
<li><a class="subheader">Edit</a></li>
<li><a class="waves-effect" href="/edit/filters">Filters</a></li>
<li><a class="waves-effect" href="/edit/settings">Settings</a></li>
{% if user.admin %}
<li><div class="divider"></div></li>
<li><a class="subheader">ADMIN</a></li>
<li><a class="waves-effect" href="/admin">Admin Panel</a></li>
{% endif %}
{% endblock %}