{% extends "base.html" %}
{% block content %}
<div class="row">
	<br><br>
	<div class="col s12 m8 l4 offset-m2 offset-l4">
		<div class="card yellow z-depth-3 darken-3">
			<div class="card-content black-text">
				<span class="card-title">Ops...</span>
				<h1 style="font-size:8rem">Errore 404</h1>
				<p>“Se volete trovare qualcosa, non c’è niente di meglio che cercare.” </p>
				<br>
			    <p>J.R.R. Tolkien</p>
				<br>
				<div class="card-action">
		        	<a class="black-text waves-effect waves-light btn yellow" href="/">Torna alla home</a>
		        </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}