{% extends "base.html" %}
{% block head %}
<style>
    .material-icons{
        display: inline-flex;
        vertical-align: top;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}
{% block content %}
<h2 class="center black-text">Dati esercito di {{ name }}</h2>
<div class="row">
	<div class="col s12 l8 offset-l2">
		<div class="card white row">
		    <div class="card-content">
    		    <span class="card-title">Cerca una unità</span>
    		    <div class="input-field col s10 offset-s1">
    		        <i class="material-icons prefix">search</i>
        			<input type="text" id="autocomplete-input" class="autocomplete">
        			<label for="autocomplete-input">Nome</label>
    		    </div>
		    </div>
		</div>
	</div>
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <div id="chart"></div>
            </div>
        </div>
    </div>
	<div class="col s12 m10 offset-m1">
		<div class="card white">
			<div class="card-content">
			    <span class="card-title" id="titolo">Dati</span>
				<table class="striped">
					<thead>
						<tr>
							<th>Data</th>
							<th>Quantità</th>
							<th>Differenza</th>
						</tr>
					</thead>
					<tbody>
						{% for data in allDates %}
						    {% if data in dates %}
						<tr>
							<td><p>{{ data }}</p></td>
							<td id="{{ data }}_quantity">No Data</td>
							<td id="{{ data }}_diff">No Data</td>
						</tr>
						    {% else %}
						<tr>
							<td><p>{{ data }}</p></td>
							<td>No Data</td>
							<td>No Data</td>
						</tr>
						    {% endif %}
						{% endfor %}
						<tr>
							<td><p>From {{allDates[0]}} to {{allDates[-1]}}</p></td>
							<td></td>
							<td id="firstLast">No Data</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large black">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li><a class="btn-floating red" href="/getData" title="Torna alla pagina precedente"><i class="material-icons">arrow_left</i></a></li>
        <li><a class="btn-floating blue" id="act"></a></li>
    </ul>
</div>
<br>
<br>
<script src="{{url_for('static', filename='numeral.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='Functions.js')}}" type="text/javascript"></script>
<script type="text/javascript">
    let army = {{ army|safe }};
    let dates = {{ dates|safe }};
    let allDates = {{ allDates|safe }};
    let chartSettings = {height: 400, type: "area", stacked: false,
                         animations: {enabled: true, easing: 'easeinout', speed: 1000, animateGradually: {enabled: true, delay: 1000}, dynamicAnimation: {enabled: true, speed: 1000}},
                         toolbar: {show: true, tools: {download: true, selection: true, zoom: true, zoomin: true, zoomout: true, pan: true, reset: true}}};

    let options = {
        chart: chartSettings,
        title: {text: "Storico beni", align: "left"},
        dataLabels: {enabled: false},
        series: [],
        xaxis: {categories: dates}
    };

    let chart = new ApexCharts(document.querySelector("#chart"), options);

    chart.render();

	$(document).ready(function(){
	    initActionBtn(location, document.getElementById("act"));
	    $('.fixed-action-btn').floatingActionButton({hoverEnabled: false, direction: "left"});
        $('input.autocomplete').autocomplete({
            data: {
                {% for nome in army %}"{{ nome|safe }}": null,
                {% endfor %}
            },
            onAutocomplete: function(name){
                let data = [];
                let j = 0;

                for (let i in allDates) {
                    if (dates.indexOf(allDates[i]) !== -1) {
                        data.push(army[name][j]);
                        j++;
                    }else{
                        data.push(null);
                    }
                }

                chart.updateOptions({
                    chart: chartSettings,
                    title: {text: "Storico beni", align: "left"},
                    dataLabels: {enabled: false},
                    theme: {palette: "palette1"},
                    fill : {opacity: 0.5},
                    stroke: {curve: "smooth"},
                    series: [{name: name, data: data}],
                    xaxis: {labels: {rotate: -90, rotateAlways: true}, categories: allDates},
                    yaxis: [{
                        min: getMin(army[name]),
                        max: getMax(army[name]),
                        axisTicks: {show: true},
                        axisBorder: {show: true},
                        title: {text: name},
                        labels: {formatter: function (value) {
                                    return numeral(value).format("0,0");
                                }
                        }
                    }]
                });

                for (let i in dates) {
                    $("#" + dates[i] + "_quantity").text(numeral(army[name][i]).format("0,0"));
                    if (i > 0) {
                        let diff = parseInt(army[name][i]) - parseInt(army[name][i-1]);
                        let text = "";
                        if (diff > 0) {
                            text += "<p class='green-text'>+" + numeral(diff).format("0,0") + "<i class='material-icons'>arrow_upward</i></p>";
                        } else if (diff < 0) {
                            text += "<p class='red-text'>" + numeral(diff).format("0,0") + "<i class='material-icons'>arrow_downward</i></p>";
                        } else {
                            text += "<p class='blue-text'>" + numeral(diff).format("0,0") + "</p>";
                        }
                        $("#" + dates[i] + "_diff").text(text);
                    }
                }

                let text = "";
                let firstLast = parseInt(army[name][dates.length-1]) - parseInt(army[name][0]);
                if (firstLast > 0) {
                    text += "<p class='green-text'>+" + numeral(firstLast).format("0,0") + "<i class='material-icons'>arrow_upward</i></p>";
                } else if (firstLast < 0) {
                    text += "<p class='red-text'>" + numeral(firstLast).format("0,0") + "<i class='material-icons'>arrow_downward</i></p>";
                } else {
                    text += "<p class='blue-text'>" + numeral(firstLast).format("0,0") + "</p>";
                }
                $("firstLast").text(text);
                $("titolo").text("Dati per '" + name + "' degli ultimi " + allDates.length + " giorni");
            }
        });
    });
</script>
{% endblock %}