{% extends "base.html" %}
{% block head %}
<style>
    .material-icons{
        display: inline-flex;
        vertical-align: top;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}
{% block content %}
<h2 class="center black-text">Dati beni di {{ name }}</h2>
<div class="row">
    <div class="col s12 l8 offset-l2">
        <div class="card white row">
            <div class="card-content">
                <span class="card-title">Cerca un bene</span>
                <div class="input-field col s10 offset-s1">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Nome</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <div id="chart"></div>
            </div>
        </div>
    </div>
    <div class="col s12 m10 offset-m1">
        <div class="card white">
            <div class="card-content">
                <span class="card-title" id="titolo">Tabella dati</span>
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Quantità</th>
                            <th>Differenza</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large black">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li><a class="btn-floating red" href="/getData" title="Torna alla pagina precedente"><i class="material-icons">arrow_left</i></a></li>
        <li><a class="btn-floating blue" id="act"></a></li>
    </ul>
</div>
<br>
<br>
<script src="{{url_for('static', filename='numeral.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='Functions.js')}}" type="text/javascript"></script>
<script type="text/javascript">
    let goods = {{ goods|safe }};
    let dates = {{ dates|safe }};
    let allDates = {{ allDates|safe }};
    let chartSettings = {height: 400, type: "area", stacked: false,
                         animations: {enabled: true, easing: 'easeinout', speed: 1000, animateGradually: {enabled: true, delay: 1000}, dynamicAnimation: {enabled: true, speed: 1000}},
                         toolbar: {show: true, tools: {download: true, selection: true, zoom: true, zoomin: true, zoomout: true, pan: true, reset: true}}};

    let options = {
        chart: chartSettings,
        title: {text: "Storico beni", align: "left"},
        dataLabels: {enabled: false},
        series: [],
        xaxis: {categories: dates}
    };

    let chart = new ApexCharts(document.querySelector("#chart"), options);

    chart.render();

    $(document).ready(function(){
        initActionBtn(location, document.getElementById("act"));
        $('.fixed-action-btn').floatingActionButton({hoverEnabled: false, direction: "left"});
        $('input.autocomplete').autocomplete({
            data: {
                {% for nome in goods %}"{{ nome|safe }}": null,
                {% endfor %}
            },
            onAutocomplete: function(name){
                let data = [];
                let j = 0;

                for (let i in allDates) {
                    if (dates.indexOf(allDates[i]) !== -1) {
                        data.push(goods[name][j]);
                        j++;
                    }else{
                        data.push(null);
                    }
                }

                chart.updateOptions({
                    chart: chartSettings,
                    title: {text: "Storico " + name, align: "left"},
                    dataLabels: {enabled: false},
                    theme: {palette: "palette1"},
                    fill : {opacity: 0.5},
                    stroke: {curve: "smooth"},
                    series: [{name: name, data: data}],
                    xaxis: {labels: {rotate: -90, rotateAlways: true}, categories: dates},
                    yaxis: [{
                        min: getMin(goods[name]),
                        max: getMax(goods[name]),
                        axisTicks: {show: true},
                        axisBorder: {show: true},
                        title: {text: name},
                        labels: {formatter: function (value) {
                                    return numeral(value).format("0,0");
                                }
                        }
                    }]
                });

                $("#titolo").text(`Dati per '${name}' degli ultimi ${allDates.length} giorni`);
                $("tbody").empty();
                for (let i in dates) {
                    $("tbody").append(`<tr id="tr${i}"><td>${dates[i]}</td></tr>`);
                    $(`#tr${i}`).append(`<td>${numeral(goods[name][i]).format("0,0")}</td>`);
                    if (i > 0) {
                        let diff = parseInt(goods[name][i]) - parseInt(goods[name][i-1]);
                        if (diff > 0) {
                            $(`#tr${i}`).append(`<td><p class="green-text">+${numeral(diff).format("0,0")}<i class="material-icons">arrow_upward</i></p></td>`);
                        } else if (diff < 0) {
                            $(`#tr${i}`).append(`<td><p class="red-text">${numeral(diff).format("0,0")}<i class="material-icons">arrow_downward</i></p></td>`);
                        } else {
                            $(`#tr${i}`).append(`<td><p class="blue-text">${numeral(diff).format("0,0")}</p></td>`);
                        }
                    }else{
                        $(`#tr${i}`).append("<td>No Data</td>");
                    }
                }

                $("tbody").append(`<tr id="trlast"><td>Dal ${dates[0]} al ${dates[dates.length-1]}</td></tr>`);
                $("#trlast").append("<td></td>");
                let firstLast = (parseInt(goods[name][dates.length-1]) - parseInt(goods[name][0]));
                if (firstLast > 0) {
                    $("#trlast").append(`<td><p class="green-text">+${numeral(firstLast).format("0,0")}<i class='material-icons'>arrow_upward</i></p></td>`);
                } else if (firstLast < 0) {
                    $("#trlast").append(`<td><p class="red-text">${numeral(firstLast).format("0,0")}<i class='material-icons'>arrow_downward</i></p></td>`);
                } else {
                    $("#trlast").append(`<td><p class="blue-text">${numeral(firstLast).format("0,0")}</p></td>`);
                }
            }
        });
    });
</script>
{% endblock %}