{% extends "base.html" %}
{% block content %}
<br>
<div class="row">
	<div class="card col s12 m8 offset-m2 l6 offset-l3">
		<div class="card-content">
			<p>Che fai? Entri o ti registri? Vedi tu</p>
		</div>
		<div class="card-tabs">
			<ul class="tabs tabs-fixed-width">
				<li class="tab">
					<a class="active" href="#login" id="inbtn">Entra</a>
				</li>
				<li class="tab">
					<a href="#signup">Registrati</a>
				</li>
			</ul>
		</div>
		<div class="card-content">
			<div id="login" class="row">
			    <div class="input-field col s12">
                    <input id="username" type="text" onkeypress="if(event.which == 13) {$('#loginBtn').click()}">
                    <label for="username">Username</label>
                </div>
				<div class="input-field col s12">
                    <input id="password" type="password" onkeypress="if(event.which == 13) {$('#loginBtn').click()}">
                    <label for="password">Password</label>
                </div>
                <div class="col s6 offset-s3 center">
                    <button id="loginBtn" class="btn waves-effect waves-light blue darken-2">
                        Entra
                        <i class="material-icons right">arrow_right</i>
                    </button>
                </div>
			</div>
			<div id="signup" class="row">
			    <div class="input-field col s12">
                    <input id="newUsername" type="text" onkeypress="if(event.which == 13) {$('#signupBtn').click()}">
                    <label for="newUsername">Username</label>
                </div>
				<div class="input-field col s12">
                    <input id="newPassword" type="password" onkeypress="if(event.which == 13) {$('#signupBtn').click()}">
                    <label for="newPassword">Password</label>
                </div>
                <div class="input-field col s12">
                    <input id="newPasswordCheck" type="password" onkeypress="if(event.which == 13) {$('#signupBtn').click()}">
                    <label for="newPasswordCheck">Ripeti password</label>
                </div>
                <div class="input-field col s12">
                    <input id="token" type="password" onkeypress="if(event.which == 13) {$('#signupBtn').click()}">
                    <label for="token">Token</label>
                </div>
                <div class="col s6 offset-s3 center">
                    <button id="signupBtn" class="btn waves-effect waves-light blue darken-2">
                        Registrati
                        <i class="material-icons right">arrow_right</i>
                    </button>
                </div>
			</div>
		</div>
		<div class="card-action">
            <p id="result"></p>
		    <div id="spinner" class="preloader-wrapper big">
		        <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>

<h5 class="center">Powered by <a target="_blank" rel="noopener noreferrer" href="https://materializecss.com">Materialize</a></h5>
<h5 class="center">and <a target="_blank" rel="noopener noreferrer" href="https://www.python.org">Python</a></h5>
<h5 class="center">Other projects on <a target="_blank" rel="noopener noreferrer" href="https://github.com/brodo97">GitHub</a></h5>
<script>
    //if(e.which == 13) {alert('You pressed enter!');}
    $(document).ready(function(){
        $('.tabs').tabs();
    });
    $("#signupBtn").click(function(){
        let username = $("#newUsername").val();
        let pass1 = $("#newPassword").val();
        let pass2 = $("#newPasswordCheck").val();
        let token = $("#token").val();
        if (username !== "" && pass1 !== "" && pass2 !== "" && token !== "") {
            if (pass1 === pass2) {
                $("#result").removeClass();
                $("#result").addClass("black-text");
                $("#result").html("Checking");
                $("#spinner").addClass("active");
                var jqxhr = $.ajax({
                            	type: "POST",
                            	url: "signup",
                            	data: JSON.stringify({"username": username, "password": pass1, "token": token}),
                            	dataType: "text"
                            })
                .done(function(res) {
                    if (res === "Registrazione effettuata"){
                        $("#result").removeClass();
                        $("#result").addClass("green-text text-darken-2");
                        document.getElementById("inbtn").click();
                    }else{
                        $("#result").removeClass();
                        $("#result").addClass("red-text text-darken-2");
                    }
                    $("#result").html(res);
                })
                .fail(function() {
                    $("#result").removeClass();
                    $("#result").addClass("red-text text-darken-2");
                    $("#result").html("Errore");
                })
                .always(function() {
                    $("#spinner").removeClass("active");
                });
            }else{
                $("#result").removeClass();
                $("#result").addClass("red-text text-darken-2");
                $("#result").html("Le password non coincidono");
            }
        }else{
            $("#result").removeClass();
            $("#result").addClass("red-text text-darken-2");
            $("#result").html("Riempire tutti i campi");
        }
    });
    $("#loginBtn").click(function(){
        let username = $("#username").val();
        let pass = $("#password").val();
        if (username !== "" && pass !== "") {
            $("#result").removeClass();
            $("#result").addClass("black-text");
            $("#result").html("Checking");
            $("#spinner").addClass("active");
            var jqxhr = $.ajax({
                        	type: "POST",
                        	url: "login",
                        	data: JSON.stringify({"username": username, "password": pass}),
                        	dataType: "text"
                        })
            .done(function(res) {
                if (res === "Loggando..."){
                    $("#result").removeClass();
                    $("#result").addClass("green-text text-darken-2");
                    window.location.href = "/getData";
                }else{
                    $("#result").removeClass();
                    $("#result").addClass("red-text text-darken-2");
                }
                $("#result").html(res);
            })
            .fail(function() {
                $("#result").removeClass();
                $("#result").addClass("red-text text-darken-2");
                $("#result").html("Errore");
            })
            .always(function() {
                $("#spinner").removeClass("active");
            });
        }else{
            $("#result").removeClass();
            $("#result").addClass("red-text text-darken-2");
            $("#result").html("Riempire tutti i campi");
        }
    });

</script>
{% endblock %}