{% extends "base.html" %}
{% block head %}
<style>
    .material-icons{
        display: inline-flex;
        vertical-align: top;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}
{% block content %}
<h2 class="center black-text">Dati inventario di {{ name }}</h2>
<div class="row">
	<div class="col s12 l8 offset-l2">
		<div class="card white row">
		    <div class="card-content">
    		    <span class="card-title">Cerca un oggetto nell'inventario</span>
    		    <div class="input-field col s10 offset-s1">
    		        <i class="material-icons prefix">search</i>
        			<input type="text" id="autocomplete-input" class="autocomplete">
        			<label for="autocomplete-input">Nome</label>
    		    </div>
		    </div>
		</div>
	</div>
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <div id="chart"></div>
            </div>
        </div>
    </div>
	<div class="col s12 m10 offset-m1">
		<div class="card white">
			<div class="card-content">
			    <span class="card-title" id="titolo">Dati</span>
				<table class="striped">
					<thead>
						<tr>
							<th>Data</th>
							<th>Quantità</th>
							<th>Differenza</th>
						</tr>
					</thead>
					<tbody>
						{% for data in allDates %}
						    {% if data in dates %}
						<tr>
							<td><p>{{ data }}</p></td>
							<td id="{{ data }}_quantity">No Data</td>
							<td id="{{ data }}_diff">No Data</td>
						</tr>
						    {% else %}
						<tr>
							<td><p>{{ data }}</p></td>
							<td>No Data</td>
							<td>No Data</td>
						</tr>
						    {% endif %}
						{% endfor %}
						<tr>
							<td><p>From {{allDates[0]}} to {{allDates[-1]}}</p></td>
							<td></td>
							<td id="firstLast">No Data</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large black">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li><a class="btn-floating red" href="/getData" title="Torna alla pagina precedente"><i class="material-icons">arrow_left</i></a></li>
        <li><a class="btn-floating blue" id="act"></a></li>
    </ul>
</div>
<br>
<br>
<script src="{{url_for('static', filename='numeral.js')}}" type="text/javascript"></script>
<script>
    var inventory = {{ inventory|safe }};
    var dates = {{ dates|safe }};
    var allDates = {{ allDates|safe }};
    let chartSettings = {height: 400, type: "area", stacked: false, animations: {enabled: true, easing: 'easeinout', speed: 1000, animateGradually: {enabled: true, delay: 1000}, dynamicAnimation: {enabled: true, speed: 1000}}};

    var options = {
        chart: chartSettings,
        title: {text: "Storico beni", align: "left"},
        dataLabels: {enabled: false},
        series: [],
        xaxis: {categories: dates},
        legend: {horizontalAlign: "left"}
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);

    chart.render();
</script>
<script type="text/javascript">
	window.onload = function () {
		var x = location.search;
		var btn = document.getElementById("act");
		if (x === "?detailed") {
			btn.innerHTML = "<i class=\"material-icons\">remove</i>";
			btn.href = "/getData/inventory";
			btn.title = "Riduci dettagli";
		}else{
			btn.innerHTML = "<i class=\"material-icons\">add</i>";
			btn.href = "/getData/inventory?detailed";
			btn.title = "Aumenta dettagli";
		}
	}
	$(document).ready(function(){
	    $('.fixed-action-btn').floatingActionButton({hoverEnabled: false, direction: "left"});
        $('input.autocomplete').autocomplete({
            data: {
                {% for nome in inventory %}"{{ nome|safe }}": null,
                {% endfor %}
            },
            onAutocomplete: function(name){
                chart.updateOptions({
                    chart: chartSettings,
                    title: {text: "Storico beni", align: "left"},
                    dataLabels: {enabled: false},
                    theme: {palette: "palette1"},
                    fill : {opacity: 0.5},
                    stroke: {curve: "smooth"},
                    series: [{name: name, data: inventory[name]}],
                    xaxis: {labels: {rotate: -90, rotateAlways: true}, categories: dates},
                    yaxis: [{
                        min: Math.min.apply(null, inventory[name])-1,
                        max: Math.max.apply(null, inventory[name])+1,
                        axisTicks: {show: true},
                        axisBorder: {show: true},
                        title: {text: name},
                        labels: {formatter: function (value) {
                                    return numeral(value).format("0,0");
                                }
                        }
                    }],
                    legend: {horizontalAlign: "left"}
                });

                document.getElementById("titolo").innerHTML = "Dati per '" + name + "' degli ultimi " + allDates.length + " giorni"
                for (let i in dates) {
                    document.getElementById(dates[i] + "_quantity").innerHTML = numeral(inventory[name][i]).format("0,0");
                    if (i > 0) {
                        var diff = parseInt(inventory[name][i]) - parseInt(inventory[name][i-1]);
                        var text = "";
                        if (diff > 0) {
                            text += "<p class='green-text'>+" + numeral(diff).format("0,0") + "<i class='material-icons'>arrow_upward</i></p>";
                        } else if (diff < 0) {
                            text += "<p class='red-text'>" + numeral(diff).format("0,0") + "<i class='material-icons'>arrow_downward</i></p>";
                        } else {
                            text += "<p class='blue-text'>" + numeral(diff).format("0,0") + "</p>";
                        }
                        document.getElementById(dates[i] + "_diff").innerHTML = text;
                    }
                }

                var text = "";
                var firstLast = (parseInt(inventory[name][dates.length-1]) - parseInt(inventory[name][0]));
                if (firstLast > 0) {
                    text += "<p class='green-text'>+" + numeral(firstLast).format("0,0") + "<i class='material-icons'>arrow_upward</i></p>";
                } else if (firstLast < 0) {
                    text += "<p class='red-text'>" + numeral(firstLast).format("0,0") + "<i class='material-icons'>arrow_downward</i></p>";
                } else {
                    text += "<p class='blue-text'>" + numeral(firstLast).format("0,0") + "</p>";
                }
                document.getElementById("firstLast").innerHTML = text;
            }
        });
    });
</script>
{% endblock %}