{% extends "/bases/base.html" %}
{% block head %}
<style>
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
</style>
{% endblock %}
{% block content %}
<main>
    <div class="row">
        <h1 class="center">Yo</h1>
        <div class="col s12">
            <div class="card">
    	        <div class="card-content">
    	            <span class="card-title">Database Console</span>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Query</label>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a class="btn black white-text" id="execute">Esegui (F7)</a>
                </div>
            </div>
    	</div>
    	<div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title" id="results">Results</span>
                    <table class="striped table-responsive">
                        <thead>
                          <tr id="Thead">
                              <!--<th></th>-->
                          </tr>
                        </thead>
                        <tbody id="Tbody">
                          <!--<tr>
                              <td></td>
                          </tr>-->
                        </thead>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="fixed-action-btn">
	<a class="btn-floating btn-large red" href="/getData" title="Logout">
		<i class="large material-icons">arrow_left</i>
	</a>
</div>
<script>
    document.addEventListener("keydown", function(event) {
        if (event.which === 118) {
            document.getElementById("execute").click();
        }
    })
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
    $("#execute").click(function(){
        if (document.getElementById("textarea1").value !== "") {
            $("#results").removeClass();
            $("#results").addClass("card-title");
            $("#results").text("Qualcosa sta succedendo...");
            var jqxhr = $.ajax({
                        	type: "POST",
                        	url: "admin",
                        	data: document.getElementById("textarea1").value,
                        	dataType: "text"
                        })
            .done(function(res) {
                try{
                    var result = JSON.parse(res);
                    if (result["status"] === 1) {
                        $("#Thead").empty();
                        $("#Thead").append("<th>Num</th>");
                        $("#Tbody").empty();
                        for (let i in result["details"]) {
                            $("#Thead").append(`<th>${result["details"][i]}</th>`);
                        }
                        for (let i in result["data"]) {
                            $("#Tbody").append(`<tr id='TRow${i}'></tr>`);
                            $("#TRow" + i).append(`<td>${i}</td>`);
                            for (let j in result["data"][i]) {
                                $("#TRow" + i).append(`<td>${result["data"][i][j]}</td>`);
                            }
                        }
                        $("#results").addClass("green-text");
                        $("#results").text("Fatto!");
                    }else if (result["status"] === 2){
                        $("#Thead").empty();
                        $("#results").addClass("green-text");
                        $("#results").text("Linee affette " + result["details"]);
                    }else{
                        $("#results").addClass("red-text");
                        $("#results").text("Errore: " + result["data"]);
                    }
                }catch (err){
                    $("#results").addClass("red-text");
                    $("#results").text("Errore: " + err);
                }
            })
            .fail(function() {
                $("#results").addClass("red-text");
                $("#results").text("Errore nella richiesta!");
            })
        }
    })
</script>
{% endblock %}